# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
#
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# CMake build directory
/build/


/tests/
tags

# Clang compilation database
compile_commands.json

# YCM file
.ycm_extra_conf.py
.ycm_extra_conf.pyc

# Vim Swapfiles
*.swp

# Examples
/examples/build
